Send Mails Pinecone.json
{
  "name": "Send Mails Pinecone",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "10b80c92-46e2-4df8-b6fc-5ef7228f3f0f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant to send mails."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        224,
        0
      ],
      "id": "57117ace-4c45-4cb4-a69e-5eadb3b2ae62",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        288
      ],
      "id": "806e5eaf-e0f3-4ae5-b57a-6d57fc261562",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BmqsJ19kAx762Gx1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        368,
        272
      ],
      "id": "54a0ac2f-40a0-4696-b02c-68b0205e1bdc",
      "name": "Gmail",
      "webhookId": "0efa4972-e3dc-4c40-a6cd-ebf1acbb1ead",
      "credentials": {
        "gmailOAuth2": {
          "id": "MLkIBmg2KfmAXkJJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1aa72267-e654-4257-93e7-d969ca901184",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63212ef44af3c145402bf74bca3e2e4c3fc4fc9a00849124bd4c84b69768ee4e"
  },
  "id": "83Gj195lQ0lqRhQG",
  "tags": []
}